#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  padding-top: 60px; 
}

#count {
  color: #666;
  font-size: 2.5em;
  margin-bottom: 1.5rem;
  text-shadow: 0 0 10px rgba(100, 108, 255, 0.2);
  will-change: filter;
  transition: filter 300ms;
}

.card {
  display: flex;
  flex-direction: column;
  place-items: center;
  margin: 11rem;
}

#reset {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#up {
  color: green;
  margin: 1rem;
}

#up:hover {
  border-color:  green;
}

#down {
  color: red;
  margin: 1rem;
}

#down:hover {
  border-color:  red;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  transition: transform 0.2s, box-shadow 0.2s;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
button:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(100, 108, 255, 0.2);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@media (prefers-color-scheme: light) {
button {
  background-color: #f9f9f9;
}
}