.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #a09c9ca0;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  backdrop-filter: blur(8px);
}

.navbar-links {
  max-width: 1280px;
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-around;
  padding: 0 2rem;
}

.navbar a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
  transition: color 0.3s ease;
}

#counter-link:hover {
  color: green;
}

#movies-link:hover {
  color: blue; 
}

#todo-link:hover {
  color: fuchsia;
}

@media (prefers-color-scheme: light) {
  :root {
    color: black;
    background-color: #ffffff;
  }
}